@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

@media (max-whidth 760px) {

}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:'Roboto', sans-serif;
}
/* Partie 1 OhMyFood */
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 0.3rem; 
    position: relative;
}
/* Partie 2 Paris belleville */

main {
    padding: 0 1rem;
}

main .city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #F3F3F3;
    text-align: center;
    padding: 0.5rem;
    margin-left: -17px;
    margin-right: -17px;
}

main .city i {
    font-size: 1.6rem;
}
/* Partie 3 reserver */

.reservez {
    text-align: center;
}

.reservez h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

.reservez p {
    font-size: 1rem;
}

.reservez button {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 4px 3px 17px -1px #000000;
    margin-top: 1.5rem;
} 

.reservez button:hover {
    transform: scale(1.03);
    transition: all 300ms;
    opacity: 1;
}

/* Partie 4 Fonctionnement */

.fonct li {
background-color: #f6f6f6;
padding: 1rem 2rem;
flex-grow: 1;
}

.fonct ol {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    padding: 10px;
}

li {
    border-radius: 1rem;
    box-shadow: 4px 3px 17px -1px #000000;
}

.fonct li:hover {
    transform: scale(1.03);
    transition: all 300ms;
    opacity: 1;
}

i.fas {
    margin-right: 1rem;
    margin-left: -4px;
}

.fonct ol li span {
    background-color: #9356DC;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin: 0.5rem;
    border-radius: 50%;
    height: 20rem;
    position: relative;
    left: -50px;
    color: white;
}

/* Partie 5 Restaurants */

.restaurant h2 {
    margin-top: 33px;
    margin-bottom: 30px;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(211, 211, 211);
    margin: -15px;
}

.resto {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    position: relative;
}

.resto i {
    position: relative;
}

.resto2 i {
    position: relative;
}

.resto2 {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
   
}

img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.resto p {
    padding: 11px;
    margin-top: 5px;
    margin-bottom: -17px;
}


.resto2 p {
    padding: 11px;
    margin-top: 5px;
    margin-bottom: -17px;
}

.new {
    background-color: #99E2D0;
    border-radius: 8%;
    position: absolute;
    padding: 5px;
    right: 18px;
    top: 18px;
}


i.far.fa-heart {
    font-size: 2rem;
    position: absolue;
    right: -18rem;
    top: -2rem;
}

i.fas.fa-heart {
    font-size: 2rem;
    position: absolue;
    right: -16rem;
    top: -2rem;
}

.resto .fas {
    color: transparent;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    opacity: 0;
    transition: all 100ms ease-in-out;
}

.resto .fas:hover {
    opacity: 1;
    transform: translateY(-50%), scale(1.2);
}


/* Partie 6 Footer */

.pied {
    background-color: #353535;
    margin-top: 50px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.pied img {
    width: 40%;
    padding-top: 20px;
    color: white;
}

.pied p {
    color: white;
}

.alignement {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: -15px;
}

.alignement span {
    margin-left: 7px;
}

a:link {
    text-decoration: none;
    color: white;
}
